body {
  font-family: 'PT Sans', sans-serif;
  line-height:1.4;
}

h1, h2, h3, h4, h5 {
  font-family: 'Bree Serif', serif;
}




.wrapper {
  padding:20px;
}
@media(min-width: 768px){
  .wrapper {
    width: 768px;
    margin: 0 auto;
  }
}
